# Stuff that isn't standardard to hopefully keep my main file more standard

# Nevermore 
[heater_fan exhaust_fan] 
##  Exhaust fan - In E2 OUT position
# jot this is the nevermore
pin: PD13
max_power: 1.0
shutdown_speed: 0.0         
kick_start_time: 0.5 
heater: heater_bed
heater_temp: 50
fan_speed: 1.0

# Pi temps
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

# MCU temps
[temperature_sensor Octopus]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


#[fan_generic test-fan]
#pin: PD14
#max_power: 1.0
#shutdown_speed: 0.0         
#kick_start_time: 0.5 

# none of this mattered, so pulled.  The small fan didn't do anything meaningful when the 
# electronics components fans were running.
# Fan on the pi cpu
#[temperature_fan pi]
#pin: PA8
#pin: PD15
#sensor_type: temperature_host
#target_temp: 60.0             #Set this to your preferred running temperature
#max_power: 1.0
#kick_start_time: 0.5
#shutdown_speed: 0.0
#control: watermark
#min_temp: 0
#max_temp: 80.0


[quad_gantry_level]
speed: 100
retries: 5
retry_tolerance: 0.05

# allow for part canceling
[exclude_object]

